<%= form_for(sneaker) do |f| %>
  <% if sneaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sneaker.errors.count, "error") %> prohibited this sneaker from being saved:</h2>

      <ul>
      <% sneaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @brand %>
  <%= f.hidden_field :brand_id, value: @brand.id %>
  <% else %>
    <div class="field">
      <%= f.label :brand_id %>
      <%= select("sneaker", "brand_id", Brand.all.collect { |brand| [brand.name, brand.id] }, { include_blank: true }) %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  <!-- <select name="sex">
    <%= options_for_select([ "Male", "Female" ], "Male") %>
  </select> -->
</div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
